quote-generator/target/
quote-generator/.settings/
quote-generator/.vertx/
quote-generator/.vscode/

quote-generator/.classpath
quote-generator/.project

micro-trader-dashboard/target/
micro-trader-dashboard/.settings/
micro-trader-dashboard/.vertx/
micro-trader-dashboard/.vscode/

micro-trader-dashboard/.classpath
micro-trader-dashboard/.project

portfolio-service/target/
portfolio-service/.settings/
portfolio-service/.vertx/
portfolio-service/.vscode/

portfolio-service/.classpath
portfolio-service/.project

.git/
.settings/
.vscode/

.classpath
.project

